    p {
        font-family: sans-serif; color: red;
    }

    h1 {
    	font-family: sans-serif; color: red;
    }
    h2 {
    	font-family: sans-serif; color: red;
    }

    h3 {
    	font-family: sans-serif; color: red;
    }
   
   ul {
   	font-family: sans-serif; color: red;
   }

   li {
   	font-family: sans-serif; color: red;
   }